# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# NuxtHub local data
.hub

# Playwright
tests/e2e/.output
tests/e2e/test-results
playwright-report/
